name: Build Docker image and push to registry

# Workflow runs on pull requests
on:
  pull_request:
    branches: [ main ]
    types: [ closed ]
  # Also allow manual trigger for testing
  workflow_dispatch:

jobs:
  build-docker:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
       
      - name: Generate Docker tag
        run: echo "DOCKER_TAG=$(git rev-parse --short HEAD)" >> $GITHUB_ENV # tak wygląda przekazanie zmiennej do zmiennych środowiskowych
      
      - name: Build Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile
          tags: |
            registry.digitalocean.com/masterclass-registry/test-image:${{ env.DOCKER_TAG }}

      - name: Push Docker image
        run: echo "I tutaj bedzie push do registry który już znacie dla tagu ${{ env.DOCKER_TAG }}"